.carousel-item{
    position: fixed;
    size: 12cm;
    width: 19cm;
    left: 18cm;
}
.carousel-indicators{
    right: center;
}
.carousel-control-prev{
    position: absolute;
    right: 12%;
    width: 1.5cm;
}
.carousel-control-prev-icon{
    position: absolute;
    
    block-size: 1cm;
    
}
#------КАРУСЕЛЬ_ПРОПОНУВАННЯ-------
.block{
    position: relative;
    width: 18cm;
    height: 11.6cm;
    right: 18cm;
    top: -22.6cm;
    background-color: rgba(3, 3, 3, 0.671);
    border-left: 10cm;
    border-bottom: 10cm;
    border-color: rgba(0, 0, 0, 0.151);
    border-style: solid;
    border-top-left-radius: 2cm;
    border-bottom-left-radius: 2cm;
    
}
.carousel-inner{
    position: relative;
    height: 12cm;
    width: 12cm;
    
}

.block1{
    position:absolute;
    width: 18cm;
    height: 11.6cm;
    right: 9.5cm;
    top: 0cm;
    border-top-left-radius: 2cm;
    border-bottom-left-radius: 2cm;
}

.offer{
    position: relative;
    color: blanchedalmond;
    width:12cm;
    right: 16.4cm;
    font-stretch: extra-expanded;
    word-spacing: 0.1cm;
    top: -22cm;
    font-size: 1cm;
}
.offer1{
    position: relative;
    color: blanchedalmond;
    width:12cm;
    right: 16.4cm;
    font-stretch: extra-expanded;
    word-spacing: 0.1cm;
    top: -22cm;
}
.btn{
    position: relative;
    top:-15.5cm;
    right:16.4cm;
    height: 1.2cm;
    width:  4.3cm;
}

.btn_Pelesos{
    position: relative;
    top:-1cm;
}

.d-block{
    position: relative;
    height: 11.61cm;
    width: 16.5cm;
    left: -0.21cm;
    border-radius: 0.4cm;
}
.PS_5{
    position: relative;
    bottom: 13cm;
    
}
.PS5{
    position: relative;
    block-size: 11cm;
    top:1.5cm;
    left: 3.5cm;
}
