

.carousel-item{
    position: fixed;
    size: 15cm;
    width: 19cm;
    left: 50%;
}
.carousel-inner{
    position: relative;
    width: 50cm;
    right: 2cm;
    height: 14cm;
}
.carousel-indicators{
    right: center;
}
.carousel-control-prev{
    position: relative;
    margin-left: -4.3cm;
    width: 1.5cm;
    height: 14cm;
}
.carousel-control-prev-icon{
    position: relative;
    left: 7.5cm;
    block-size: 12cm;
    width: 1cm;
} 
.carousel{
    position: relative;
    width: 50cm;
    right: 5cm;
    height: 14cm;
}

.carousel-control-next-icon{
    position: relative;
    block-size: 12cm;
    left: 3.5cm;
    width: 1cm;
}
    
#------КАРУСЕЛЬ_ПРОПОНУВАННЯ-------
.block{
    position: relative;
    width: 18cm;
    height: 11.6cm;
    right: 18cm;
    top: -22.6cm;
    background-color: rgba(3, 3, 3, 0.671);
    border-left: 10cm;
    border-bottom: 10cm;
    border-color: rgba(0, 0, 0, 0.151);
    border-style: solid;
    border-top-left-radius: 2cm;
    border-bottom-left-radius: 2cm;
    
}

.block1{
    position:absolute;
    width: 24cm;
    height: 14cm;
    right: 9.5cm;
    top: 0cm;
    border-top-left-radius: 2cm;
    border-bottom-left-radius: 2cm;
}

.offer{
    position: relative;
    color: blanchedalmond;
    width:16cm;
    right: 22.4cm;
    font-stretch: extra-expanded;
    word-spacing: 0.1cm;
    top: -26cm;
    font-size: 1.5cm;
}
.offer1{
    position: relative;
    color: blanchedalmond;
    width:14cm;
    right: 22.4cm;
    font-stretch: extra-expanded;
    word-spacing: 0.1cm;
    top: -26cm;
}
.btn{
    position: relative;
    top:-19.5cm;
    right:22.4cm;
    height: 2cm;
    width:  6cm;
    font-size: 0.85cm;
    line-break: 1cm;
}

.btn_Pelesos{
    position: relative;
    top:0cm;
}

.d-block{
    position: relative;
    height: 14cm;
    width: 24cm;
    left: -0.21cm;
    border-radius: 0.4cm;
}
.PS_5{
    position: relative;
    bottom: 13cm;
    
}
.PS5{
    position: relative;
    block-size: 13cm;
    bottom: 0.4cm;
    left: 6cm;
}
