
.ps_anim{
    position: relative;
    width: 13cm;
    height: 15cm;
    left: 1cm;
    top: 0.5cm;
	
}
.Ps1{
    position: relative;
    width: 16cm;
    height: 17cm;
    right: 0.8cm;
}
.link1{
    position: relative;
    color: aliceblue;
    font-size: 0.4cm;
    font-weight: 500;
    text-decoration: none;
    top: 0.3cm;
    
}
a:hover{
    color: rgb(47, 255, 116);
}
a:active {
    color: wheat;
  }
.tovar{
    position: relative;
    left: 3.5cm;

    
}
.borderr{
    position: relative;
    border-bottom: 0.1cm solid #3d4861;
}
.link2{
    position: relative;
    color: aliceblue;
    text-indent: 1cm;
    font-size: 0.4cm;
    font-weight: 500;
    text-decoration: none;
    top: 0.3cm;
}
.ps{
    position: relative;
    right: 1cm;
}
.haract{
    position: relative;
    left: 7cm;
    bottom: 0.6cm;
    
}

.fon_link{
    position: relative;
    background-color: #353a47;

}


.fonfon{
    position: relative;
    width: 100%;
    height: 60cm;
    background-color: #343a4b;

}
.fon_price{
    position: relative;
    height: 12cm;
    width:15.6cm;
    bottom:16.5cm;
    left: 17cm;
    border-radius: 0.2cm;
    border: 1px solid #ffffff;
}
.price{
    position: relative;
    height: 1cm;
    width:15.6cm;
 
    border-radius: 0.2cm;
    border: 1px solid #ffffff;
}
.name{
    position: relative;
    bottom:16.5cm;
    left: 17cm;
    font-size: 0.6cm;
    color: aliceblue;
}
.price_ps{
    position: relative;
    top:1cm;
    color: #ffffff;
    left: 0.6cm;
    font-size: 0.7cm;
}
.price_ps_1{
    position: relative;
    top:1.2cm;
    color: #ffffff;
    left: 1.2cm;
    font-size: 0.56cm;
    color: #ff5050f1;
}
.currency{
    position: relative;
    top:0.3cm;
    color: #ffffff;
    left: 2.7cm;
    font-size: 0.4cm;
    font-weight: 400;
    
    
}

.currency1{
    position: relative;
    top:-0.1cm;
    color: #ffffff;
    left: 2.7cm;
    font-size: 0.45cm;
    font-weight: 400;
    
    
}

.zniska{
    position: relative;
    color: #ffffff;
    top:0.04cm;
    left: 0.2cm;
    font-size: 0.4cm;
    text-decoration: line-through;
    
}
.bottom_buy{
    position: relative;
    height: 1.3cm;
    width:14cm;
    top:0.5cm;
    left:0.7cm;
    border-radius: 0.2cm;
    border: 1px solid #e4dddd;
    background-color: #01ff568a;
}
.have{
    position: relative;
    color: #ffffff;
    bottom: 1cm;
    font-size: 0.5cm;
}

.ops{
    position: relative;
    height: 3cm;
    width:14cm;
    top:3cm;
    border-radius: 0.2cm;
    border: 1px solid #ffffff;
    text-align: center;
    font-size: 0.5cm;
    color: #ffffff;

}

.shopping{
    position: relative;
    top:0.1cm;
    width: 1cm;
    left: 4.8cm;

}
.shopping1{
    position: relative;
    top:0.1cm;
    font-size: 0.7cm;
    left: 5.8cm;
    color: #ffffff;
}

.container{
    position: relative;
    right: 2.7cm;
}

.Ps_5_pro_zag{
    position: relative;
    bottom: 7cm;
    height: 15cm;
    width: 34.6cm;
    border: 0.3cm solid black;
}
.Ps_5_proo{
    position: relative;
    width: 15cm;
}

.Pr{
    position: relative;
    top:0.1cm;
    font-size: 0.5cm;
    color: #ffffff;
}
.Rozetka{
    position: relative;
    width: 4cm;
}