.parent {
    display : grid ;
    grid-template-columns : repeat(8, 1fr) ;
    grid-template-rows : repeat(6, 1fr) ;
    grid-column-gap : 0px;
    grid-row-gap : 0px ;
    background-color: black;
    }
body{
    background-color: rgb(218, 218, 218);
}
.container-sm{
    position: relative;
}
.card-img-top{
    position: relative;
    height: 6cm;
    width: 5cm;
    left: 1.3cm;
}
.card{
    position: relative;
    left:3cm;
    top:0.5cm;
}