{% extends 'base.html' %}
{% block content %}
<body>
    
    <div class="fonfon">
        <div class = "Ps">
            <div class = "borderr">
                
                <div class = "fon_link">
                    <div class ="tovar">
                        <a href="/Play_Station" class="link1">Усе про товар</a>
                    </div>
                    <div class = haract> 
                        <a href="/Play_Station/haract" class="link2">Характеристики</a>
                    </div>
                </div>
                
            </div>
            <div class = "Ps1">
                <img src="static/img/carusel/Ps1.png" alt="" class="ps_anim">
            </div>
        </div>
        <div class = "name">{{articles[0][1]}}</div>
        <div class = "fon_price">
            <div class = "price">
                
                <div class = "price_ps">{{price[0][1]}}</div><b class="currency">₴</b>
                <div class = "bottom_buy" type="button">
                    <img src="static/img/Shopping-Cart-1--Streamline-Ultimate.png" alt="" class="shopping">
                    <p class="shopping1">
                        Купити
                    </p>
                    <div class="ops">
                        <p class = "have">Також є у магазинах :</p>
                    </div>
                </div>
            </div>
        </div>
    </div>























</body>

{% endblock content %}