{% extends 'base.html' %}
{% block content %}
<body>
    
    <div class="fonfon">
        <div class = "Ps">
            <div class = "borderr">
                <div class = "fon_link">
                    <div class ="tovar">
                        <a href="#" class="link1">Усе про товар</a>
                    </div>
                    <div class = haract> 
                        <a href="#" class="link2">Характеристики</a>
                    </div>
                </div>
            </div>
            <div class = "Ps1">
                <img src="static/img/carusel/Ps1.png" alt="" class="ps_anim">
            </div>
        </div>
        <div class = "name">{{articles[0][5]}}</div>
        <div class = "fon_price">
            <div class = "prise_">
                <div class = "price_ps">{{price[0][1]}}</div>
                <div class = "bottom_buy">
                    <div class="ops">

                    </div>
                </div>
            </div>
        </div>

    </div>























</body>

{% endblock content %}