{% extends 'base.html'%}
{% block content %}

    <div class = "Ps">
        <div class = "borderr">
            
            <div class = "fon_link">
                <div class ="tovar">
                    <a href="/Play_Station" class="link1">Усе про товар</a>
                </div>
                <div class = haract> 
                    <a href="/Play_Station/haract" class="link2">Характеристики</a>
                </div>
            </div>
            
        </div>

</div>
{% endblock content %}